.home-page{
    position: relative;
    background-color: hsla(0,0%,0%, .55);
}

.homeContainer{
    display: grid;
    justify-content: center;

    width: 95vw;
   
}
.welcomeMessage{
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
    width: 100%;
    min-width: auto;
    margin: auto;
    margin-top: -20px;
   
}

#root > div > div.homeContainer.container-fluid > div.welcomeMessage.row > div {
    display: flex;
    justify-content: center;
    align-content: center;
    width: 30vw;
    min-width: 600px;
}

.homeRow{
    display: flex;
    flex-direction: row;
}

/* .background1{
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-size: cover;
    background-position: center center;
    -webkit-transform: translateZ(0);
            transform: translateZ(0);
    
    will-change: transform;
    z-index: -1;
    background-image: url("../../assets/meeting.png");
    background-color: hsla(0,0%,0%, 1);
  } */
  
  .background2 {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-size: cover;
    background-position: center center;
    -webkit-transform: translateZ(0);
            transform: translateZ(0);
    will-change: transform;
    z-index: -2;
    background-image: url("../../assets/interview.png");
    background-color: white;
  }